<span class="top-row">

  <input type="text" [formControl]="searchBar" placeholder="Seach for a title...">

  <button title="Add" class="icon-buttons" [routerLink]="['/article']" [queryParams]="{mode: 'create'}"><img
      src="../../assets/plus.svg"></button>
</span>

<div *ngIf="articleList.length" class="list-container">
  <app-article-list-item *ngFor=" let article of articleList" [article]=article>
  </app-article-list-item>
</div>

<div class="no-articles" *ngIf="!articleList.length">
  <span>
    Seems like there are no articles.
  </span>
  <span>
    Click the plus button to create new articles
  </span>
</div>
