<span class="top-row">

  <input type="text" [formControl]="searchBar" placeholder="Seach for a title...">

  <button title="Add" class="icon-buttons" [routerLink]="['/article']" [queryParams]="{mode: 'create'}"><img
      src="../../assets/plus.svg"></button>
</span>
<div *ngIf="articleMap.length" class="list-container">

  <div [sortablejs]="articleMap" [sortablejsOptions]="sortableOptions">

    <ng-container *ngFor=" let root of articleMap">
      <app-article-list-item class="draggable" [article]=root.article>
      </app-article-list-item>

      <div [sortablejs]="root.children" [sortablejsOptions]="sortableOptions">
        <ng-container *ngFor="let childMap of root.children">
          <app-article-list-item class="draggable child" [article]=childMap.article>
          </app-article-list-item>
        </ng-container>
      </div>

    </ng-container>
  </div>
</div>

<!-- Add no article list -->
<div class="no-articles" *ngIf="!articleList.length">
  <span>
    Seems like there are no articles.
  </span>
  <span>
    Click the plus button to create new articles
  </span>
</div>
