<span class="top-row">

  <app-search-bar></app-search-bar>
  <button class="add-more"><img src="../../assets/plus.svg"></button>
</span>
<div *ngIf="articleList.length" class="list-container">
  <ng-container *ngFor="let article of articleList">
    <app-article-list-item [routerLink]="['/article', article.id]" [article]=article></app-article-list-item>
  </ng-container>
</div>

<!-- Add no article list -->
<div *ngIf="!articleList.length">Seems like there are no articles</div>

<!-- TODO add this when creating new article -->
<!-- <div>
  <span>
    Create new article
  </span>
  <button>+</button>
</div> -->
