:host {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 50px auto 0 auto;
}

.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-more {
  background-color: transparent; /* make the button transparent */

  border: none; /* assuming we don't want any borders */
  cursor: pointer; /* make the cursor like hovering over an <a> element */
  height: 16px; /* make this the size of your image */

  vertical-align: middle; /* align the text vertically centered */
  img {
    height: 25px;
  }
}
// .list-container {
//   display: flex;
//   flex-direction: column;
// }
