<div class="article-detail-container">




  <button [routerLink]="'/home'">Back</button>
  <button *ngIf="mode !== 'edit'" (click)="toggleEditMode()">Edit</button>
  <button *ngIf="mode !== 'view'" (click)="saveEverything()">Save</button>

  <div *ngIf="currentArticle" class="article-details">


    <!-- Convert title to form input when in edit mode -->
    <span class="title">{{currentArticle.title}}</span>
    <span>{{currentArticle.author}}</span>
    <quill-view *ngIf="mode !== 'edit'" [content]="currentArticle.body" format="text" theme="snow"></quill-view>
    <quill-editor *ngIf="mode === 'edit'" theme="snow" (onEditorCreated)="editorCreated($event)">
    </quill-editor>
    <span>{{currentArticle.publishedOn | date:'short'}}</span>




  </div>
</div>
