@import "../../assets/_variables.less";

.article-item-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 1px 10px -4px grey;
  border-left: 5px solid @val-orange;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
}

.article-item-container:hover {
  box-shadow: 0 1px 15px -4px grey;
}

.unread {
  border-left: 5px solid @val-orange;
}
