<div class="article-item-container">

  <span class="actions-col">
    <span class="article-details">
      <span class="title">{{article?.title}}</span>
      <span class="last-updated">{{article?.lastUpdated | dateAgo}}</span>
    </span>
    <span class="article-actions">
      <ng-container *ngIf="!confirmDelete">
        <!-- Future upgrades - abstract buttons for icon support -->
        <button (click)="editArticle()" title="Edit" class="icon-buttons"><img src="../../assets/contract.svg"></button>
        <button (click)="confirmDeleteArticle()" title="Delete" class="icon-buttons"><img src="../../assets/trash.svg"></button>
        <button [routerLink]="['/article', article.id]" [queryParams]="{mode: 'view'}" title="Details" class="icon-buttons"><img
            src="../../assets/next.svg"></button>
      </ng-container>
      <ng-container *ngIf="confirmDelete">
        <span class="confirm-message">Are you sure?</span>
        <button (click)="cancelDelete()" title="Cancel" class="icon-buttons"><img src="../../assets/cancel.svg"></button>
        <button (click)="deleteForSure()" title="Confirm" class="icon-buttons"><img src="../../assets/check.svg"></button>
      </ng-container>
    </span>
  </span>
</div>
